sqlalchemy==2.0.36
alembic==1.13.3
insightface==0.7.3
faiss-cpu==1.9.0.post1
pyyaml==6.0.2
loguru==0.7.3
click==8.1.7
pillow==10.4.0
numpy==1.26.4
python-dotenv==1.0.1
pytest==8.3.4
pytest-cov==5.0.0
opencv-python==4.10.0.84
scikit-image==0.24.0
tqdm==4.67.1